*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
    
}
.register{
    background:rgba(250, 95, 26, 1);
    border-radius:10px;
    margin:0 53px 0 22px;
    padding:12px !important; 
    height:43px;
    width:130px;
    color:rgba(255, 255, 255, 0.76);
    font-size: 14px;

}
.login{
    background:#00e600;
    border-radius:10px;
    height:43px;
    width: 120px;
    /* margin:0 5px 0 2px; */
    padding:12px !important;
    font-size: 14px;
}

.top-left {
    position: absolute;
    top: 150px;
    left: 52px;
    width:50%;
  }
  .mid-section {
    position: relative;
    text-align: center;
    color: white;
  }
  .getbtn{
    background-color: #232323;border-radius: 20px;
    color:rgba(255, 255, 255, 1);
    font-size:24px;
    height:76px;
    width:207px;
    margin-top:10px;
    padding:20px 34px 20px 34px;
  }
  .cont{
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius:15px;
    padding: 21px;
    margin: 16px 0;
    height: 140px;
    width:225px;
  }
  .cont::after {
    content: "";
    clear: both;
    display: table;
  }
  .cont img {
    /* float: left; */
    border-radius: 50%;
  }
  /*testimonial*/
  .home-testimonial-bottom{
    /* background-color: #f8f8f8;
    transition: border 0.3s, border-radius 0.3s, box-shadow 0.3s; */
    margin-top: 20px;
    margin-bottom: 0px;
    position: relative;
    height: auto;
    top: 190px
  }
  .home-testimonial h3{
    color: var(--orange);
    font-size: 14px;
    font-weight: 500;
    -transform: uppercase
  }
  .home-testimonial h2{
    color: white;
    font-size: 28px;
    font-weight: 700
  }
  .testimonial-inner{
    position: relative;
    top: -174px
  }
  .testimonial-pos{
    position: relative;
    top: 24px
  }
  .testimonial-inner .tour-desc{
    border-radius: 5px;
    padding: 9px
  }
  .color-grey-3{
    font-family: "Prompt", Sans-serif;
    font-size: 11px;
    color: #ffffff;
  }
  img.tm-people{
    width: 50px;
    height: 54px;
    -webkit-border-radius: 50%;
    border-radius: 50%;-o-object-fit: cover;object-fit: cover;max-width: none
  }
  .link-name{
    font-family: "Prompt", Sans-serif;
    font-size: 13px;
    color: #E0E0E0;
  }
  .link-position{
    font-family: "Prompt", Sans-serif;
    font-size: 11px;
    color: #B6BCCC;
  }
  .customised{
    font-size:16px;
    background: white;
    border-radius: 50px;
    box-shadow: 5px 5px 10px black;
    /* width: 350px; */
    outline: none;
  }
  ::-webkit-file-upload-button{
    color: white;
    background: #206a20;
    padding: 20px;
    border: none;
    border-radius: 50px;
    box-shadow: 1px 0 1px 1px #6b4559;
    outline: none;
  }
  ::-webkit-file-upload-button:hover{
    background: #438a5e;

  }
  .button {
    background-color: rgba(119, 131, 239, 1);
    border: none;
    color: rgba(255, 255, 255, 1);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }


/* body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px 0;
} */

body .container .card {
  /* position: relative; */
  min-width: 320px;
  /* height: 440px; */
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  margin: 30px;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0.22) !important;
}

body .container .card:nth-child(1) .box .content a {
  background: #2196f3;
}

body .container .card:nth-child(2) .box .content a {
  background: #e91e63;
}

body .container .card:nth-child(3) .box .content a {
  background: #23c186;
}

body .container .card .box {
  /* position: absolute; */
  /* top: 3px;
  left: 3px;
  right:3px;
  bottom: 239px; */
  background: #2a2b2f;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
  margin:8px;
}


body .container .card .box .content {
  padding-top: 20px;
  text-align: center;
  padding-bottom: 8px;
}

body .container .card .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
}

body .container .card .box .content h3 {
  font-size: 1.8rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

body .container .card .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}

body .container .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
body .container .card .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}

.accordion {
  background-color: rgba(255, 255, 255, 1);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  height:78px;
  border: none;
  border-radius:10px;
  text-align: left;
  outline: none;
  font-size: 24px;
  transition: 0.4s;
  margin-top:12px;
}

/* .active, .accordion:hover {
  background-color: #ccc; 
} */

.panel {
  padding: 0 18px;
  display: none;
  background-color: #C4C4C4;
  overflow: hidden;
  height: 135px;
  font-size: 24px;
  border-radius:5px;

}
/* .h6{
 position:relative;
 text-align: center;
}
.h6:before{
  background-color: #000;
  display: block;
  width: 120px;
  content: "";
  position: absolute;
  left: 0;
  top:50%;
  z-index:-1;
}
.h6:after{
  background-color: #000;
  display: block;
  width: 120px;
  content: "";
  position: absolute;
  right: 0;
  top:50%;
  z-index:-1;
} */
